{{>head}}
<body>
    <div class="main-content">
        {{>header}}
        <p>use this app for getting weather</p>
    </div>

    <img src="/img/893970.jpg" width="750" height="400" alt="me">
    {{>footer}}
</body>
</html>