{{>head}}
    <body>
        <div class="main-content">
            {{>header}}
            <p>use this app for getting weather</p>
        </div>
        <img src="/img/slender.jpg" alt="error">
        {{>footer}}
    </body>
</html>