{{>head}}
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this app for getting weather !</p>

        <form>
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>

        <p id="msg1"></p>
        <p id="msg2"></p>
    </div>
    {{>footer}}
    
    <script src="/javascript/app.js"></script>
</body>
</html>